*{
    margin: 0px;
    padding: 0px;
}
.outer{
    /* border: 1px solid rgb(0, 0, 0); */
    width: 100%;
    height: auto;
}

.product {
 display: flex;
 justify-content: space-between;
 /* border: 1px solid rgb(255, 6, 6); */
 width: 100%;
 height: 50px;
 padding: 0px 10px;
 align-items: center;
}
.left{
    display: flex;
cursor: pointer;
    gap: 5px;
    margin-top: 6px;
    /* border: 1px solid red; */
}
.right{
   display: flex;
}
select{
    margin-left: 30px;
}
.text{
    margin-top: 6px;
}
.middle{
    /* border: 1px solid blue; */
    height: auto;
    display: flex;
    padding: 10px;
}
.middleleft{
width: 20%;
 /* border: 1px solid blue; */
 box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
/* border: 1px solid red; */
}
.middleright{
width: 80%;
/* border: 1px solid rgb(0, 47, 255); */
}
.image{
    width: 60%;
}
.PREFERENCE, .CATEGORY, .BRAND, .FLAVOUR{ 
  padding: 10px 0px;
  margin-top: 10px;
}
.border{
    border: 1px solid rgb(233, 227, 227);
   width: 10%;
}
.preference{
    /* border: 1px solid gray; */
    padding: 5px 0px;
    margin: 10px 0px;
}
.subCategory{
    /* border: 1px solid gray; */
 opacity: 0.7;
    margin: 10px 0px;
  
}

.brand{
    /* border: 1px solid gray; */
    opacity: 0.7;
    margin: 10px 0px;
}
.flavour{
    /* border: 1px solid gray; */
    opacity: 0.7;
    margin: 10px 0px;
}